
.topNavContainer {
  display: flex;

  > h1 {
    margin-top: 0;
    padding-right: 16px;
    border-right: 1px solid black;
  }
}
.topNav {
  display: flex;
  align-items: center;
  padding: 0px 48px;
  padding-top: 4px;
  gap: 48px;
}